
.header__top{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header__logo {
    max-width: 150px;
    width: 100%;
}

.main {
    padding-bottom: 1rem;
}
.division {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem;
}
.division__title {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
}
.division__list {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}
.division__item {
    padding: .3rem .7rem;
    border: 1px solid #000;
    border-radius: 8px;
    background: var(--color-btn);
    text-align: center;
    font-size: 1.3rem;
    color: #ffffff;
    transition: var(--transition-duration);
}
.division__item:hover{
    background: var(--color-btn-h);
}

/* --------------------------------- */
@media (max-width: 768px) {
   
}
@media (max-width: 479px) {
    .header__logo{
        max-width: 120px;
    }
    .main{
        margin-top: .7rem;
    }
    .division__title{
        font-size: 1.2rem;
    }
    .division__item {
        font-size: 1rem;
    }
}
